body{
	background:#B3B3B3;
	margin:2%;
	font-size: 125%;

}
header, footer{
	background: #666666;
	background: -moz-linear-gradient(top, #666666 0%, #00b7ea 100%);
	background: -webkit-linear-gradient(#666666 0%, #00b7ea 100%);
	background: -o-linear-gradient(#666666 0%, #00b7ea 100%);
	background: linear-gradient(#666666 0%, #00b7ea 100%); 
}
nav{
	  font-variant: small-caps;
	  font-family: Arial, "Times New Roman", serif;
	  font-size: 150%;
}
nav a{
	margin:10px;
	display: block;
	background-color: #ffffff;
}

header{
	text-align: center;
	padding-bottom: 15px;
}
h1{
	color: #FFFFFF;
}
h2{
  color: #666666;
  background: #00b7ea;
}
summary{
  font-style:normal;
}
details{
  font-style: italic;
}
a:hover{
  background:#b3b3b3;
  color:#0006cc;
}
a:focus{
  background:#b3b3b3;
  color:#0006cc;
}
a:active{
  background:#ff00ff;
  color:#0006cc;
}
footer{
	height: auto;
	clear: both;
}
img{
  width: 75px;
}

@media screen and (min-width: 900px){
.half, .whole{
	width: 70%;
	margin-right: 2%;
	display:inline-block;
	float:left;
}
nav{
	width: 20%;
	  font-variant: small-caps;
	  font-family: Arial, "Times New Roman", serif;
	  font-size: 150%;
	  float :left;
	  height :600px;

}
nav a{
	background-color: #ffffff;
	width:auto;
	margin:10px;
	text-align:center;
}

}
